{% extends "parts/nav.html" %}
{% block head %}
<head>
<title>Diversefounders</title>
<meta name="description" content="Affiliate marketing">
<meta charset="UTF">
<meta name="author" content="Imran Abdu">
{% load static %}
<link rel='icon' href='{% static 'images/icon.png' %}'>
<link rel='stylesheet' href='{% static "css/privacy.css" %}'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
<meta http-equiv="refresh" content="216000">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

</head>
{% endblock head %}
<body>
{% block content %}


<div class="privacyp">
<h1>Privacy Policy for diversefounders</h1>

<p>At diversefounders, accessible from https://diversefounders.co, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by diversefounders and how we use it.</p>

<p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

<p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in diversefounders. This policy is not applicable to any information collected offline or via channels other than this website. </p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our Privacy Policy and agree to its terms.</p>

<h2>Information we collect</h2>

<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>
<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>
<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.</p>

<h2>How we use your information</h2>

<p>We use the information we collect in various ways, including to:</p>

<ul>
<li>Provide, operate, and maintain our website</li>
<li>Improve, personalize, and expand our website</li>
<li>Understand and analyze how you use our website</li>
<li>Develop new products, services, features, and functionality</li>
<li>Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes</li>
<li>Send you emails</li>
<li>Find and prevent fraud</li>
</ul>









<h2>How we share your information with third parties</h2>
We may share the categories of information identified above for the following business and commercial purposes:

<ol>
<li>When you Contribute to a Campaign, we share your Contribution information with the Campaign Owner so that the Campaign Owner can, for example, send you Perks, provide you with customer service, conduct market research, and comply with our Additional Terms and policies. Please note that once we share your personal information with a Campaign Owner, the information received by the Campaign Owner is controlled by that company and becomes subject to the Campaign Owner’s privacy practices.</li>

<li>We also share certain types of Contribution information with necessary third parties for compliance purposes like payment processing or identity verification.
When you create a Campaign, we share some of the information you provide with necessary third parties for financial compliance purposes, such as preparing for Campaign disbursement or sending you tax forms.</li>

<li>Please note that once we share your personal information with another company, the information received by the other company is controlled by that company and becomes subject to the other company’s privacy practices
When you allow us to share your personal information with another company, such as: Electing to share your personal information with carefully selected companies so that they can send you offers and promotions about their products and services, and
Directing us to share your personal information with third-party sites or platforms, such as social networking sites.</li>

<li>When companies perform services on our behalf, like marketing and advertising, and customer service; however, these companies are prohibited from using your personal information for purposes other than those requested by us or required by law.</li>

<li>When we share your personal information with third parties in connection with the actual or proposed sale of a business, to enforce our Terms of Use or rules, to ensure the safety and security of our Users and third parties, to protect our rights and property and the rights and property of our Users and third parties, to comply with legal process (including to comply with national security or law enforcement requirements), or in other cases if we believe in good faith that disclosure is required by law.</li>

<li>When we share your personal information with your consent, including when you post personal information on public forums or blogs accessible to third parties.</li>
</ol>










<h2>Your controls and choices</h2>
The laws in some jurisdictions require us to provide you with the ability to exercise certain controls and choices regarding our collection, use and sharing of your information. Information for residents of certain jurisdictions is below. To the extent that those laws apply to you, your controls and choices may include any of the following:

<ol>
<li>Updating or deactivating your Indiegogo account.</li>
<li>Choosing or changing your choices for subscriptions, newsletters, and alerts.</li>
<li>Choosing whether to receive offers and promotions for our products and services from us, or offers for products and services that we think may be of interest to you.</li>
<li>Choosing whether we share your personal information with other companies that would like to send you offers and promotions about their products and services.</li>
<li>Controlling targeted advertising from many ad networks and partners; data exchanges; and marketing analytics and digital advertising and marketing service providers (by visiting the Digital Advertising Alliance).</li>
<li>Controlling whether you want us to access location information, such as by controlling or disabling location services on your mobile device’s settings menu.</li>
<li>Choosing to control targeted advertising you receive within applications by using the settings and choices made available to you through your device(s), for example, by re-setting your device’s advertising identifier and/or opting out of interest-based ads.</li>
<li>Requesting removal of your personal information from a public forum on one of our sites or application.</li>
</ol>
You may exercise these controls and choices in various ways, including by taking control of your data on the top right-hand corner of this page, or by using your device or other available settings (for example, by resetting your device’s advertising identifier and/or opting out of interest based ads). You can opt out of interest-based ads by visiting the Digital Advertising Alliance or using the opt-out mechanism in the “Interest Based Ads” link in the footer of the site you are visiting.

Please be aware that if you do not allow us to collect personal information from you, we may not be able to deliver certain experiences, products, and services to you, and some of our Services may not be able to take account of your interests and preferences. If you have questions about the specific personal information about you that we process or retain, and your rights regarding that personal information, please contact us.











<h2>Log Files</h2>

<p>diversefounders follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

<h2>Cookies and Web Beacons</h2>

<p>Like any other website, diversefounders uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>



<h2>Advertising Partners Privacy Policies</h2>

<P>You may consult this list to find the Privacy Policy for each of the advertising partners of diversefounders.</p>

<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on diversefounders, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

<p>Note that diversefounders has no access to or control over these cookies that are used by third-party advertisers.</p>

<h2>Third Party Privacy Policies</h2>

<p>diversefounders's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>

<p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>

<h2>CCPA Privacy Rights (Do Not Sell My Personal Information)</h2>

<p>Under the CCPA, among other rights, California consumers have the right to:</p>
<p>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</p>
<p>Request that a business delete any personal data about the consumer that a business has collected.</p>
<p>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>GDPR Data Protection Rights</h2>

<p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<p>The right to access – You have the right to request copies of your personal data. We may charge you a small fee for this service.</p>
<p>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</p>
<p>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</p>
<p>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</p>
<p>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</p>
<p>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</p>
<p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>

<h2>Children's Information</h2>

<p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>

<p>diversefounders does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>








</div>

{% include 'parts/footersmall.html' %}
    {% block footersm %} 
    {% endblock footersm %}




    
    {% include 'policy/cookieapi.html' %}
    {% block cookieapi %} 
    {% endblock cookieapi %}


{% endblock %}